{% extends "nav.html"%}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="" method="post" class="card card-body mt-5">
                <h1 class="text-center">Crear tarea</h1>
                <p class="text-center">{{error}}</p>
                {% csrf_token %}
                {{form}}
                <button class="btn btn-dark mt-3">Crear</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}